<h1>Articles Index</h1>
<table>
    <tr>
      <th>Título</th>
      <th>Descrição</th>
      <th>Editar</th>
    </tr>
    <% @articles.all.each do |article| %>
    <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= link_to 'Editar', edit_article_path(article.id)%></td>
    </tr>
    <% end %>
</table>
<%= link_to 'Página Inicial', root_path%> | <%= link_to 'Novo Artigo', new_article_path%>
